body {
	background: #121114;
	font-family: cursive;
}

.container {
	width: 600px;
	height: 500px;
	margin: 20px auto;
	background-color: #fff;
	padding: 10px 50px 50px 50px;
	border-radius: 50px;
	border: 2px solid #cbcbcb;
	box-shadow: 10px 15px 5px #cbcbcb;
}

.container h1 {
	background: #405CA1;
	color: #fff;
	font-size: 60px;
	text-align: center;
	padding: 2px 0 13px 0;
	border-radius: 50px;
}

#question {
	font-size: 30px;
	color: #5a6772;
    text-align: center;
    margin: 20px 0 20px 0;
}

.button-grp {
	margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
	background: #405CA1;
	width: 250px;
	font-size: 20px;
	border: 1px solid #1d3c6a;
	border-radius: 50px;
	margin: 10px 40px 10px 7.6px;
	padding: 10px 10px;
	color: #fff;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
	cursor: pointer;
	background: #2D85A4; /*come here*/
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
	outline: 0;
}

#progress {
	color: #363c3d;
	font-size: 18px;
}





.nav-bar {
    background-color: rgba(25, 32, 48, 0.589);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    border-radius: 20px;
  }
  
  .nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav-bar li {
    margin-right: 10px;
    transform: rotate(-5deg);
  }
  
  .nav-bar li:hover {
      animation-timing-function:bezier(0.25, 0.46, 0.45, 0.94);
      animation-duration: 0.3s;
      animation-name: rotate-nav-btn;
      animation-fill-mode: forwards;
    }
  @keyframes rotate-nav-btn {
      from { transform: rotate(-5deg); }
      to { transform: rotate(0deg) scale(1.25) }
  }
  .nav-bar li {
      animation-timing-function:bezier(0.25, 0.46, 0.45, 0.94);
      animation-duration: 0.3s;
      animation-name: unrotate-nav-btn;
      animation-fill-mode: forwards;
    }
  @keyframes unrotate-nav-btn {
      from { transform: rotate(0deg) scale(1.25);  }
      to { transform: rotate(-5deg); }
  }
  
  
  .nav-bar a {
    color: #6388ee9c;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;
  }
  
  .nav-bar a:hover {
    color: #945aff;
    transform: rotate(0);
  }
  
  .nav-bar {
    background-color: #1f1f3a80;
    color: #dbdaf7;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 20px;
  }
  